@font-face {
	font-family: 'Gill Sans'; 
	src: url("../fonts/GillSansProCyrillic-Light.eot") format("embedded-opentype");
	src: url("../fonts/GillSansProCyrillic-Light.ttf") format("truetype");
	src: url("../fonts/GillSansProCyrillic-Light.woff") format("woff"); 
	font-weight: 300;
  font-style: normal; 
} 
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
		text-align: left;
		background: url(../img/bg.jpg) no-repeat left top;
    background-size: cover;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.main {
    background: url(../img/bg.jpg) no-repeat left top;
    background-size: cover;
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main-img {
    position: relative;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    margin-top: -50px;
    margin-left: -50px;
    overflow: hidden;
}
.main-img img {
	position: absolute; 
}
.main-img #layout1 {
	width: 100%;
	height: 100%; 
}
.main-img #layout2 {
	width: 100%;
	height: 100%; 
}
.main-img .shadow {
	left: 50px;
	top: 50px;
	height: calc(100% - 50px) !important;
	width: calc(100% - 50px) !important; 
}

.main-img .girl {
    max-height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    right: 95px;
    bottom: 50px;
}
.sidebar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 360px;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 50px 24px 65px;
}
.lang-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.lang-page a {
	margin: 0 16px;
	width: 300px;
	padding-top: 10px;
}
.buttons-langs {
	margin-bottom: 95px;
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: stretch;
}
.logo img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 30px;
    max-width: 121px;
}
.mobile-logo img {
	margin-left: 40%;
	margin-bottom: 10px;
}
.big-logo {
	margin-bottom: 95px;
	text-align: center;
	width: 100%;
}
.menu {
    padding-left: 0;
}
.menu li a {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #090909;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 25px;
}
.menu li a:before {
    content: '';
    width: 55px;
    height: 1px;
    position: absolute;
    left: -120px;
    opacity: 0;
    background: #282828;
    z-index: 2;
    transition: all .2s ease;
}
.menu li a:focus {
	outline: none !important;
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu li a:focus:before {
		left: -65px;
		opacity: 1;
		transition: all .2s ease; 
}
.menu li a:active {
	outline: none !important;
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu li a:active:before {
	left: -65px;
	opacity: 1;
	transition: all .2s ease; 
}
.menu li a:hover {
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu li a:hover:before {
	left: -65px;
	opacity: 1;
	transition: all .2s ease; 
}
.menu li .login {
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 0 50px;
}
.menu li .my-lesson {
		letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-top: 50px;
}
.footer-sidebar {
    position: absolute;
    bottom: 50px;
    left: 65px;
    width: 100%;
}
.footer-sidebar__catalog {
		position: absolute;
    bottom: 5px;
    left: 65px;
}
.footer-sidebar a {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
}

.lang-switch {
    margin-bottom: 15px;
}
.phone {
    margin-bottom: 25px;
    display: block;
}
.soc-links ul {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}
.soc-links ul li {
	margin-right: 15px;
}
.soc-links a {
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Login page*/

.login-block {
    width: calc(100% - 360px);
    margin-left: 360px;
    padding: 150px 0 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.login-block h3 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 50px;
}
.login-block p {
	margin: 10px 0 15px;
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
	width: 91%;
}
.login-form {
    width: 360px;
		padding-right: 120px;
}
.form-link {
	text-align: right;
}
.form-link a {
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.03em;
	color: #282828;
	opacity: 0.5;
}
.registration-form {
    width: 360px;
    padding-left: 120px;
    border-left: 1px solid rgba(40, 40, 40, 0.5);
}
.form-control {
    background: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid rgba(40, 40, 40, 0.5) !important;
    padding: 10px !important;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #282828;
    width: 100%;
    min-height: 40px !important;
}
.form-items {
	margin-bottom: 25px;
}
						
.change-pas-form {
    width: 340px;
}
.submit-group {
    margin-top: 60px;
    margin-bottom: 60px !important;
}

/*Button*/

.submit-button {
    min-height: 48px;
    width: 100%;
    font-family: 'Gill Sans';
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 22px !important;
    line-height: 25px !important;
    border-radius: 0 !important;
    position: relative;
    color: #090909 !important;
    background-color: transparent !important;
    border-color: #282828 !important;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit-button:after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: 48px;
    top: 3px;
    left: 3px;
    z-index: 1;
    border: 1px solid #282828;
}
.submit-button:hover {
	font-weight: 500 !important;
	transition: all .15s ease-in-out; 
}
.submit-button:hover:after {
	top: -1px;
	left: -1px;
	transition: all .15s ease-in-out; 
}
.submit-button:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 40, 40, 0.2) !important; 
}
.btn-login {
	margin-top: 50px;
	margin-bottom: 5px;
}
.btn-240 {
	width: 240px;
}
.btn-240_center {
	width: 240px;
}
.btn-350 {
	width: 350px;
}
/*404 page*/

.error-block {
    position: absolute;
    top: 0;
    left: 410px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.error-block h2 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 70px;
    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 25px;
}
.error-block p {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 50px;
}

/*Catalog page*/

.menu-catalog {
	padding-left: 0;
}
.menu-catalog li a {
	font-family: 'Cormorant';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 120%;
	color: #090909;
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	text-decoration: none;
	background-color: transparent;
	margin-bottom: 20px;
}
.menu-catalog li a:before {
	content: '';
	width: 55px;
	height: 1px;
	position: absolute;
	left: -120px;
	opacity: 0;
	background: #282828;
	z-index: 2;
	transition: all .2s ease;
}
.menu-catalog li a:focus {
	outline: none !important;
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu-catalog li a:focus:before {
		left: -65px;
		opacity: 1;
		transition: all .2s ease; 
}
..menu-catalog li a:active {
	outline: none !important;
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu-catalog li a:active:before {
	left: -65px;
	opacity: 1;
	transition: all .2s ease; 
}
.menu-catalog li a:hover {
	font-weight: bold !important;
	color: #090909;
	text-decoration: none !important; 
}
.menu-catalog li a:hover:before {
	left: -65px;
	opacity: 1;
	transition: all .2s ease; 
}
.footer-sidebar__catalog a {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
}
.main-catalog {
    background: url(../img/bg.jpg) repeat-y left top !important;
    background-size: cover !important;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    position: relative;
    overflow-y: auto;
}
.main-catalog h2 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 70px;
    color: #090909;
}
.main-catalog  p {
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	display: flex;
	align-items: center;
	color: #282828;
}
.main-catalog span {
	font-family: 'Cormorant Infant', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #090909;
  margin-right: 70px;
}
.catalog-block {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 360px);
    margin: 0 0 0 auto;
    height: 100%;
		padding-left: 50px;
		padding-right: 50px;
    padding-bottom: 65px;
}
.catalog-header {
    display: flex;
    align-items: stretch;
    padding: 0 0 40px;
}
.catalog-header__left {
    width: 38%;
}
.catalog-header__right {
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.catalog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-title-text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 45px;
}
.catalog-title-text:before {
	content: '';
	width: 27%;
	height: 1px;
	background: #282828;
	left: 0;
	top: auto;
	position: absolute;
}
.catalog-title-text:after {
	content: '';
	width: 27%;
	height: 1px;
	background: #282828;
	right: 0;
	top: auto;
	position: absolute;
}
.catalog-title-text h3 {
	font-family: 'Cormorant';
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #090909;
	margin: 0 auto;
	width: 50%;
}
.catalog-video {
    width: 100%;
    margin-bottom: 65px;
		position: relative;
}
.catalog-video .play-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.catalog-video .play-video img {
	width: 72px;
	height: 72px; 
}
.catalog-video h3 {
	font-family: Cormorant;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 110%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
}
.catalog-info {
	padding: 0 125px;
	margin: 0 0 35px;
}
.catalog-gallery {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0 60px;
}
.catalog-gallery img {
	max-width: 31%;
	width: 100%;
	margin-right: 2%;
}
.catalog-video img {
    width: 100%;
    vertical-align: middle;
		border-style: none;
}
.catalog-video__text {
    width: 70%;
    margin: 0 0 40px;
}
.catalog-video__text h3 {
	font-family: Cormorant;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 110%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;

}
.line {
    width: 100%;
    height: 1px;
    background: rgba(40, 40, 40, 0.5);
    margin: 30px 0 20px;
}
.catalog-products {
    margin-bottom: 90px;
}
.catalog-products__product {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    border: 1px solid rgba(40, 40, 40, 0.5);
    margin-bottom: 30px;
}
.catalog-products__product-img {
    width: 35%;
    height: 100%;
    position: relative
}
.catalog-products__product-img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.catalog-products__product-img .play-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.catalog-products__product-img .play-video img {
	width: 72px;
	height: 72px; 
}
.catalog-products__product-info {
    width: 30%;
    height: 100%;
    padding: 20px 30px;
}
.catalog-products__product-info__price {
    display: flex;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #282828;
    margin-bottom: 20px;
}
.catalog-products__product-info__price span {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #282828;
    margin: 0;
}
.catalog-products__product-info__title  h3 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 25px;
}
.catalog-products__product-info__meta {
    margin-bottom: 15px;
}
.catalog-products__product-info__meta p {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #282828;
    margin-bottom: 5px;
}
.catalog-products__product-info__meta span {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #282828;
    margin: 0 0 0 5px;
    display: inline-block;
}
.catalog-products__product-text {
    width: 35%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #282828;
}
.catalog-products__product-text p {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    color: #282828;
}
.catalog-text {
    width: 100%;
}
.catalog-text  h4 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
    margin: 0 0 30px;
}
.catalog-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 25px;
    width: 100%;
    border-top: 1px solid rgba(40, 40, 40, 0.5);
    margin: 65px 0 0;
}
.catalog-buy {
	display: flex;
  align-items: center;
	justify-content: center
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    width: 100%;
}
/*Dropdown-right*/

.sort-box {
	float: right;
  	margin: 0 0 25px;
}
.dropdown{
  position: absolute;
  top: 25px;
  right: 0;
  background: #fff;
  padding: 10px 25px;
  border-radius: 5px;
	display: none;
	z-index: 50;
}
.dropdown li {
	padding-bottom: 7px;
}
.left {
	
	padding: 0;
}
.left li a {
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: Gill Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
}
.right {
	display: flex;
}
.right ul {
	padding-left: 0;
}
.right a {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}
.right img {
	margin-left: 10px;
}
.right ul li{
	position: relative;
}
.right ul li .dropdown:before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right ul li.active .dropdown{
  display: block;
}
.left-dropdown {
	display: flex;
}
.left-dropdown ul {
	padding-left: 0;
}
.left-dropdown a {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}
.left-dropdown img {
	margin-left: 10px;
}
.left-dropdown ul li{
	position: relative;
}
.left-dropdown ul li .dropdown:before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left-dropdown ul li.active .dropdown{
  display: block;
}
.left-dropdown-mobil {
	display: flex;
}
.left-dropdown-mobil ul {
	padding-left: 0;
}
.left-dropdown-mobil a {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}
.left-dropdown-mobil img {
	margin-left: 10px;
}
.left-dropdown-mobil ul li{
	position: relative;
}
.left-dropdown-mobil ul li .dropdown:before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left-dropdown-mobil ul li.active .dropdown{
  display: block;
}

/*Checbox*/

.menu-filter-block {
    margin-top: 5px;
    padding-bottom: 5px;
}
.menu-filter-block__item p {
	font-family: Cormorant;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
	margin-top: 5px;
	margin-bottom: 5px;
}
.checkbox {
    min-height: 1.5rem;
	margin-bottom: 4px;
}
.menu-catalog li .checkbox-top {
	margin-bottom: 5px;
}
.menu-catalog li .my-lesson {
	margin-top: 10px;
    margin-bottom: 10px;
}
.menu-catalog li .login {
    margin-bottom: 40px;
}
.checkbox-label {
	font-family: 'Gill Sans';
  	font-style: normal;
  	font-weight: 300;
  	font-size: 16px;
  	line-height: 120%;
  	letter-spacing: 0.03em;
  	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;	
}
 .menu-catalog label {
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
  color: #282828;	
 }
 input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
	padding-left: 28px;
	padding-top: 2px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 7px;
    width: 10px;
    height: 10px;
	opacity: 0.5;
	border: 1px solid #282828;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 7px;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background-image: url(../img/Rectangle\ 20.png);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}

/*Pagination*/

.pagination {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-link {
	padding: 0;
	margin: 0 8px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid transparent;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	color: #B0ACA8;
	transition: all .2s ease;
}
.pagination span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #B0ACA8;
    margin-right: 15px;
}

/*not-lessons*/

.not-lessons-block {
	position: absolute;
	top: 0;
	left: 410px;
	width: auto;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	z-index: 1;
}
.not-lessons-block h2 {
	font-family: 'Cormorant';
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 70px;
	display: flex;
	align-items: center;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #090909;
	margin-bottom: 25px;
}
.not-lessons-block p {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 120%;
	display: flex;
	align-items: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
	margin-bottom: 50px;
}

/*not-lessons*/

.catalog-header__lesson {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	width: 100%;
}
.catalog-header__lesson p {
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 25px;
	color: #090909;
}
.menu li a.mylesson-link {
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
	padding-left: 5px;
	margin-bottom: 10px;
}
.menu li a.activ-link {
    font-weight: bold;
}
.menu li a.mylesson-botton {
	margin-top: 40px;
}
.menu li a.mylesson {
	margin-bottom: 10px;
}
.menu li a.botton-link {
	margin-bottom: 30px;
}
.catalog-nav {
	display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
	border-bottom: 1px solid rgba(40, 40, 40, 0.5);
	margin-bottom: 10px;
}
.catalog-nav a {
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0.03em;
	display: flex;
	align-items: center;
	color: #282828;
	opacity: 0.4;
	margin-bottom: 5px;
}
.nav-footer {
	display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.catalog-nav a.activ-link {
	opacity: 1;
}
.main-img .girl-notlessons {
	max-height: calc(100% - 100px);
	max-width: calc(100% - 100px);
	right: 0px;
	bottom: 50px;
}

/*final-certification */

.final-block {
	position: absolute;
	width: 600px;
	height: 80%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	z-index: 1;
}
.final-block h2 {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 62px;
}
.final-block p {
	margin: 0;
}
.final-block h3 {
	font-family: Cormorant;
 	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #000000;
	margin-bottom: 10px;
}
.final-img {
    width: 95%;
    height: 80%;
    margin-left: 80px;
    overflow: hidden;
}
.final-img .final-girl {
	max-height: calc(100%);
	max-width: calc(100% - 400px);
	right: 1px;
	position: absolute;
	vertical-align: middle;
	border-style: none;
}
.final-footer {
	position: relative;
	margin: 0;
	padding: 0;
}
/* Базовые стили слоя, затемнения и модального окна */
.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
/* фон затемнения */

	background-color: rgba(0, 0, 0, 0.65);
	position: fixed; /* фиксированное позиционирование */
	cursor: default; /* тип курсора */
	}
	 
	/* активируем слой затемнения */
	.overlay:target {
	display: block;
	}
	 
	/* стили модального окна */
	.popup {
	top: -100%;
	right: 0;
	left: 50%;
	font-size: 14px;
	z-index: 20;
	margin: 0;
	width: 85%;
	min-width: 320px;
	max-width: 600px;
	/* фиксированное позиционирование, окно стабильно при прокрутке */
	position: fixed;
	padding: 15px;
	border: 1px solid #383838;
	background: #fefefe;
	/* скругление углов */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	/* внешняя тень */
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);
	-webkit-transition: -webkit-transform 0.6s ease-out;
	-moz-transition: -moz-transform 0.6s ease-out;
	-o-transition: -o-transform 0.6s ease-out;
	transition: transform 0.6s ease-out;
	}
	 
	/* активируем модальный блок */
	.overlay:target+.popup {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 20%;
	}
	 
	/* формируем кнопку закрытия */
	.close {
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.8);
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	text-decoration: none;
	font: 13px/20px 'Tahoma', Arial, sans-serif;
	font-weight: bold;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	-ms-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
	}
	 
	.close:before {
	color: rgba(255, 255, 255, 0.9);
	content: "X";
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	font-size: 12px;
	}
	 
	.close:hover {
	background-color: rgba(252, 20, 0, 0.8);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	}
	iframe {
		width: 560px;
		height: 315px;
	}
	/* --------------- Mobile navigation button ----------- */

.menu-icon {
	z-index: 200;
	position: relative;
	display: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
	right: 0;
}
.menu-icon-line {
position: relative;
width: 30px;
height: 2px;
background-color: #090909;
}

.menu-icon-line::before {
position: absolute;
left: 0;
top: -10px;
content: '';
width: 30px;
height: 2px;
background-color: #090909;
transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
position: absolute;
left: 0;
top: 10px;
content: '';
width: 30px;
height: 2px;
background-color: #090909;
transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
transform: rotate(45deg);
top: 0;
transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
transform: rotate(-45deg);
top: 0;
transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* ----------------- Мобильная навигация ----------------- */

.mobile-nav {
	z-index: 100;
	display: block;
	position: absolute;
	left: -350px;
	top: 0;
	height: 100%;
	width: 350px;
	padding: 15px 50px 50px 50px;
	background: url(../img/bg.jpg) no-repeat left top;
  background-size: cover;
	transition: transform 0.4s ease-in;
}
.mobile-nav-footer-sidebar {
	position: absolute;
  bottom: 30px;
  left: 50px;
  width: 100%;
}
.mobile-nav-footer-sidebar a {
	font-family: Cormorant;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #090909;
}
.mobile-nav--active {
	transform: translateX(100%);
}
.mobile-nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mobile-nav__item {
	margin-bottom: 25px;
}
.mobile-nav__list li.my-lesson {
    margin-bottom: 10px;
}
.mobile-nav__list li.mylesson-link {
	margin-bottom: 5px;
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
}
.mobile-nav__list li.mylesson-link a {
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
}
.mobile-nav__list li.activ-link a {
	font-family: Gill Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
}
.mobile-nav__list li.mylesson-botton {
	margin-top: 20px;
}
.left-dropdown-mobil {
	padding-bottom: 15px;
}
.sidebar-checkbox {
	margin-bottom: 20px;
}
.sidebar-checkbox-footer {
	bottom: 25px;
	left: 50px;
}
.mobile-nav__link {
	text-decoration: none;
	font-family: 'Cormorant';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #090909;
}
.mobile-nav__item a.mylesson-link .activ-link{
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.03em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #282828;
	padding-left: 5px;
	margin-bottom: 10px
	}
	.mobile-nav__item a.mylesson-link .activ-link{
		font-family: Gill Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.03em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #282828;
		padding-left: 5px;
		margin-bottom: 10px
		}
.logo-mobi {
		margin: 15px;
		margin-bottom: 0;
    padding-left: 150px;
}
.yeslogo {
		margin: 15px;
		margin-bottom: 0;
    padding-left: 150px;
}
@media (max-width: 2600px) and (min-width: 530px) {
	.logo-mobi {
		display: none;
	}
}
@media (max-width: 2600px) and (min-width: 1700px) {
	.menu-catalog li a {
		letter-spacing: 0.02em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		margin: 0 0 32px;
		}
		.menu-catalog li .checkbox-top {
			margin-bottom: 16px;
		}
		.menu-filter-block__item {
			margin-bottom: 16px;
		}
		.menu-catalog li .login {
		letter-spacing: 0.02em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		margin: 0 0 64px;
		}
		.menu-filter-block {
			margin-top: 15px;
			padding-bottom: 5px;
		}
		.logo img {
			vertical-align: middle;
			border-style: none;
			margin-bottom: 45px;
			max-width: 121px;
		}
		.footer-sidebar__catalog {
		position: absolute;
		bottom: 25px;
		left: 65px;
		}
		.menu-filter-block {
		margin-top: 0px;
		padding-bottom: 15px;
		}
	}
@media (max-width: 2600px) and (min-width: 1100px) {
	.yeslogo {
		display: none;
	}
	.mobi-main {
		display: none;
	}
	.mini-404 {
		display: none;
	}
}
/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 1200px) {
	.menu-wrap {
		display: none;
	}
	.footer-sidebar {
		display: none;
	}
	.footer-sidebar__catalog {
		display: none;
	}
	.logo-block {
		margin-left: 150%;
	}
	.notlogo {
		display: none;
	}
}

/* Условие для экранов с шириной от 0 до 1100px */
@media (max-width: 1100px) {
	.menu-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			float: right;
			margin-left: auto;
			order: 2;
			margin: 15px;
	}
	.sidebar {
		position: relative;
		z-index: 1;
	}
	.catalog-block {
		width: 100%;
		position: absolute;
		z-index: 3;
	}
	.catalog-video__text {
    width: 100%;
    margin: 0;
}
	.catalog-products__product {
    flex-direction: column;
		height: 100%;
	}
	.catalog-products__product-text {
		width: 100%;
	}
	.catalog-products__product-info {
		width: 100%;
	}
	.catalog-products__product-img {
		width: 100%;
	}
	.catalog-header {
    flex-direction: column;
	}
	.catalog-header__left {
		width: 100%;
		text-align: center;
	}
	.catalog-header__right {
		width: 100%;
	}
	.catalog-info {
    padding: 0 ; 
  	margin: 0 ; 
	}
	.registration-form {
    padding-left: 60px;
    padding-right: 60px;
	}
	.error-block {
    height: max-content;
	}
	.main-img {
    position: absolute;
		overflow: hidden;
		z-index: 15;
		margin: 0;
		width: 100%;
	}	
	.girl {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.main-img .girl {
    max-height: calc(100% - 100px);
    max-width: 100%;
    right: auto;
	position: absolute;
	display: none;
	}
	.login-block {
    width: 100%;
    margin-left: 0;
    padding: 150px 0 50px;
    margin-right: 10%;
    display: flex;
    justify-content: center;
	align-items: flex-start;
	position: absolute;
	z-index: 15;
	}
	.mobi-main {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 30;
	}
	.girl-mini {
		position: absolute;
		width: 355.69px;
		height: 400px;
		left: 340px;
		top: 320px;
	}
	.mini-404 {
		position: absolute;
		width: 355.69px;
		height: 400px;
		left: 340px;
		top: 320px;
	}
	.shadow {
		position: absolute;
		width: 355.69px;
		height: 400px;
		left: 340px;
		top: 320px;
	}
	.menu-sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		padding-top: 25px;
	}
	.mobi-main-top {
		padding-left: 70px;
	}
	.mobi-main-boton {
		padding-left: 20px;
	}
	.yeslogo {
		padding-left: 50%;
	}
	.not-lessons-block {
		position: absolute;
		top: 0;
		left: 300px;
	}
	.final-block h2 {
		margin-top: 5px;
		margin-bottom: 25px;
		font-size: 45px;
	}
	.final-img {
		width: 95%;
		height: 70%;
		margin-left: 80px;
		overflow: hidden;
	}
	.final-img .final-girl {
		max-height: calc(70%);
		max-width: calc(100% - 500px);
		right: 1px;
		position: absolute;
		vertical-align: middle;
		border-style: none;
	}
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 768px) {
	.mobile-nav {
			width: 414px;
			left: -414px;
	}
}

/* Условие для экранов с шириной от 0 до 920px */
@media (max-width: 920px) {
	.logo-block {
		margin-left: 120%;
	}
	.catalog-title-text h3 {
    font-family: Cormorant;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 120%;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #090909;
	}
	.main-catalog span {
		font-family: Cormorant;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		line-height: 120%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #090909;
	}
}

/* Условие для экранов с шириной от 0 до 770px */
@media (max-width: 770px) {
	.logo-block {
		margin-left: 100%;
	}
	.main-catalog h2 {
    font-size: 50px;
    line-height: 50px;
	}
	.pagination {
		display: flex;
		justify-content: center;
		align-items: baseline;
    padding-top: 0;
	}
	.form-items {
    margin-bottom: 10px;
}
	.registration-form {
    margin-right: 100px;
	}
	.login-form {
			padding-left: 50px;
			padding-right: 70px;
	}
	.catalog-header__left {
    text-align: center;
	}
	.catalog-header__right {
		flex-direction: column;
	}
	.catalog-header__right span {
		padding-bottom: 20px;
	}
	.catalog-products__product-info__price span{
		font-family: Gill Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.03em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #282828;
	}

	.catalog-products__product-info__meta span{
		font-family: Gill Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 120%;
		letter-spacing: 0.03em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #282828;
	}
	.catalog-products {
    margin-bottom: 0;
}
	.buttons-langs {
		flex-direction: column;
		width: auto;
	}
	.buttons-langs a {
    margin-bottom: 10px;
		margin-top: 10px;
		margin-right: 20px;
	}
	.catalog-products__product-text {
		padding: 10px;
	}
	.mini-404 {
		width: 355.69px;
		height: 400px;
		left: 220px;
		top: 320px;
	}
	.girl-mini {
		width: 355.69px;
		height: 400px;
		left: 220px;
		top: 320px;
	}
	.shadow {
		width: 355.69px;
		height: 400px;
		left: 220px;
		top: 320px;
	}
	.centr-btb {
		margin-left: 20%;
	}
	.nav-footer {
		flex-direction: column;
	}
	.center-btn {
		margin-top: 15px;
	}
	.not-lessons-block {
    	position: absolute;
		top: 0;
		left: 250px;
   	 	width: auto;
    	height: 100%;
    	display: flex;
    	align-items: center;
    	flex-direction: column;
    	z-index: 30;
	}
	.not-lessons-block p {
		font-size: 22px;
		margin-bottom: 50px;
	}
	.error-block {
		position: absolute;
		top: 0;
		left: 180px;
    	width: auto;
    	display: flex;
    	flex-direction: column;
    	z-index: 30;
	}
	.not-lessons-block h2 {
		font-size: 24px;
		margin-bottom: 25px;
	}
}

/* Условие для экранов с шириной от 0 до 620px */
@media (max-width: 620px) {
	.logo-block {
		margin-left: 60%;
	}
	.logo img {
		max-width: 100px;
	}
	.sidebar-checkbox {
		margin-bottom: 5px;
	}
	.sidebar-checkbox .menu-filter-block {
		padding-bottom: 0;
	}
	.sidebar-checkbox-footer {
		bottom: 15px;
		left: 50px;
	}
	.sidebar-checkbox-footer .lang-switch {
		margin-bottom: 5px;
	}
	.sidebar-checkbox-footer a.phone {
		margin-bottom: 5px;
	}
}
/* Условие для экранов с шириной от 0 до 530px */
@media (max-width: 530px) {
	.logo-block {
		display: none;
		z-index: 1;
	}
	.notlessons {
		display: none;
	}
	.login-block {
		flex-direction: column;
		padding: 0;
	}
	.registration-form {
		padding-right: 150px;
		border-top: 1px solid rgba(40, 40, 40, 0.5);
		border-left: none;
		padding-left: 50px;
    	padding-right: 70px;
		margin: 0;
	}
	.login-block h3 {
	margin-bottom: 60px;
	margin-left: 17%;
	}
	.btn-login {
		margin-top: 15px;
	}
	.respassword {
		padding: 40px 10px 10px 50px;
	}
	.change-pas-form p {
		width: 60%;
		margin-left: 17%;
		margin-bottom: 35px;
	}
	.form-control {
		width: 60%;
		margin-left: 17%;
	}
	.submit-group {
		width: 60%;
		margin-left: 17%;
	}
	.logo img {
		max-width: 50px;
	}
	.main-catalog h2 {
		font-size: 24px;
		line-height: 120%;
	}
	.main-catalog span {
		font-size: 24px;
		line-height: 120%;
		margin-right: 10px;
	}
	.catalog-title {
		justify-content: center;
	}
	.catalog-header__right {
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
		justify-content: center;
	}
	.catalog-block {
		padding: 10px;
		margin: 0;
		top: 0;
	}
	.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: auto;
    order: 2;
    margin: 15px;
	}
	.catalog-products__product-info__meta span {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
		color: #282828;
		margin-bottom: 0;
	}
	.mini-404 {
		width: 355.69px;
		height: 400px;
		left: 70px;
		top: 0;
		top: 320px;
	}
	.girl-mini {
		width: 355.69px;
		height: 400px;
		left: 70px;
		top: 320px;
	}
	.shadow {
		width: 355.69px;
		height: 400px;
		left: 70px;
		top: 320px;
	}
	.catalog-header__lesson p {
		font-family: Gill Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 25px;
		color: #090909;
	}
	.catalog-nav a {
    font-size: 15px;
	}
	.centr-btb {
		margin-left: 5%;
	}
	.final-img .final-girl {
		max-height: calc(100% - 100px) !important;
		max-width: calc(100% - 100px) !important;
		right: 40px;
		bottom: 5px;
		position: absolute;
	}
	.final-block h3 {
    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    font-feature-settings: 'tnum' on, 'lnum' on;
		color: #000000;
		margin: 0;
	}
	.final-img {
    position: relative;
    width: calc(100% + 300px) !important;
    height: calc(100% + 100px) !important;
    margin-left: -50px;
    overflow: hidden;
	}
	.catalog-products__product-info__title h3 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
		line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 15px;
	}
	.catalog-products__product-info__price span {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #282828;
	}
	.not-lessons-block h2 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
		line-height: 120%;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 95px;
	}
	.not-lessons-block p {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
		line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #090909;
    margin-bottom: 50px;
	}
	.not-lessons-block {
		align-items: center;
    top: 50px;
		left: 80px;
	}
	.error-block {
		align-items: center;
    top: 0;
		left: 80px;
	}
	.catalog-gallery {
    flex-direction: column;
	}
	.catalog-gallery img {
    max-width: 100%;
    margin-bottom: 2%;
	}
	.menu-catalog li a {
		margin-bottom: 8px;
	}
	.left-dropdown-mobil {
		padding-bottom: 5px;
	}
}

@media (max-width: 1100px) {
	.yeslogo {
		padding-left: 46%;
	}
	.main-img {
		display: none;
	}
}

/* Условие для экранов с шириной от 0 до 414px */
@media (max-width: 414px) {
	.logo-mobi {
		padding-left: 175px;
	}
	.yeslogo {
		padding-left: 41%;
	}
	.login-block {
		width: 100vh;
		padding-top: 0;
		padding-bottom: 0;
	}
	.login-block h3 {
		margin: 0;
	}
	.login-form {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.registration-form {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 20px;
		padding-bottom: 0;
	}
	.respassword {
		padding: 40px 10px 10px 20px;
	}
	.change-pas-form {
    padding: 50px;
	}
	.catalog-gallery img {
		max-width: 100%;
		margin-bottom: 2%;
	}
	.catalog-gallery {
    flex-direction: column;
	}
	.catalog-header__lesson {
    flex-direction: column;
	}
	.catalog-header__lesson h2 {
    margin: 0;
	}
	.catalog-nav a {
    font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.03em;
	}
	.nav-footer {
    flex-direction: column;
	}
	.nav-footer a {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.final-block h3 {
		font-size: 24px;
    line-height: 120%;
	}
	.final-block {
		width: 100%;
	}
	.buttons-langs {
		flex-direction: column;
		width: auto;
	}
	.buttons-langs a {
    margin-bottom: 10px;
		margin-top: 10px;
		margin-right: 20px;
	}
	iframe {
		width: 300px;
		height: 315px;
	}
	.catalog-products__product-info__meta span {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
		color: #282828;
		margin-bottom: 0;
	}
	.girl-mini {
		width: 355.69px;
		height: 400px;
		left: 40px;
		top: 320px;
	}
	.shadow {
		width: 355.69px;
		height: 400px;
		left: 40px;
		top: 320px;
	}
	.mini-404 {
		width: 355.69px;
		height: 400px;
		left: 40px;
		top: 320px;
	}
	.respassword {
		padding: 40px 10px 10px 5px;
	}
	.change-pas-form {
		padding-left: 50px;
		padding-right: 50px;
	}
	.change-pas-form p {
		width: 90%;
		margin-left: 18%;
		margin-bottom: 35px;
	}
	.change-pas-form h3 {
		margin-left: 18%;
		margin-bottom: 60px;
	}
	.form-control {
		width: 100%;
		margin-left: 18%;
	}
	.submit-group {
		width: 100%;
		margin-left: 18%;
	}
}

/* Условие для экранов с шириной от 0 до 380px */
@media (max-width: 380px) {
	.logo-mobi {
		padding-left: 150px;
	}
	.yeslogo {
		padding-left: 40%;
	}
	.girl-mini {
		width: 355.69px;
		height: 400px;
		left: 20px;
		top: 320px;
	}
	.centr-btb {
		margin-left: 0;
	}
	.not-lessons-block {
    top: 50px;
    left: 40px;
	}
	.error-block {
    top: 0;
    left: 40px;
	}
	.sidebar-checkbox {
	margin-bottom: 3px;
	}
	.sidebar-checkbox-footer .lang-switch {
	margin-bottom: 3px;
	}
	.sidebar-checkbox-footer {
	bottom: 10px;
	left: 50px;
	}
	.change-pas-form p {
		width: 80%;
		margin-left: 11%;
		margin-bottom: 35px;
	}
	.change-pas-form h3 {
		margin-left: 11%;
		margin-bottom: 60px;
		font-size: 24px;
		line-height: 120%;
	}
	.form-control {
		width: 95%;
		margin-left: 5%;
	}
	.submit-group {
		width: 95%;
		margin-left: 5%;
	}
	.menu-catalog li a {
		margin-bottom: 0px;
	}
	.lang-switch {
		margin-bottom: 5px;
	}
	.phone {
		margin-bottom: 10px;
		display: block;
	}
	.mobile-nav__item {
		margin-bottom: 15px;
	}
}

/* Условие для экранов с шириной от 0 до 330px */
@media (max-width: 330px) {
	.logo-mobi {
		padding-left: 110px;
	}
	.big-logo {
		margin-bottom: 40px;
	}
	.login-block {
		margin: 0;
	}
	.login-form {
		width: 250px;
		padding: 0;
		margin-left: 25px;
	}
	.registration-form {
		width: 250px;
		padding: 0;
		margin-left: 25px;
	}
	.respassword {
		padding: 100px 10px 10px 5px;
	}
	.btn-login {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.mini-404 {
		width: 355.69px;
		height: 400px;
		left: 10px;
		bottom: 0;
	}
	.girl-mini {
		width: 355.69px;
		height: 400px;
		left: 10px;
		top: 250px;
	}
	.shadow {
		width: 355.69px;
		height: 400px;
		left: 10px;
		top: 250px;
	}
	.btn-350 {
		width: 280px;
	}
	.not-lessons-block {
    top: 50px;
    left: 10px;
	}
	.error-block {
		top: 0;
    left: 10px;
	}
	.mobile-logo img {
	margin-left: 30%;
	margin-bottom: 10px;
	}
	.menu-filter-block__item p {
		font-family: Cormorant;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 120%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #090909;
		margin-top: 5px;
		margin-bottom: 0px;
	}
	.checkbox {
		min-height: 1.5rem;
		margin-bottom: 0px;
	}
	.respassword {
		padding: 40px 10px 10px 5px;
	}
	.change-pas-form {
		padding-left: 20px;
		padding-right: 50px;
	}
	.change-pas-form p {
		width: 90%;
		margin-left: 12%;
		margin-bottom: 35px;
	}
	.change-pas-form h3 {
		margin-left: 12%;
	}
	.form-control {
		width: 100%;
		margin-left: 0;
	}
	.submit-group {
		width: 100%;
		margin-left: 0;
	}
	.mobile-nav__item {
		margin-bottom: 2px;
	}
	.mobile-nav-footer-sidebar {
		position: absolute;
		bottom: 10px;
		left: 50px;
		width: 100%;
	}
}